<!DOCTYPE html>

<html>

<head>
    <link  rel="stylesheet", href="./css/styles.css">
    <h1> help page </h1>
    {{>header }}

</head>

<body>
    <h1> this is about help  </h1>
    <h2> {{ name }} </h2>
</body>

</html>