<!DOCTYPE html>

<html>

<head>
        <link  rel="stylesheet", href="./css/styles.css">
        {{>header }}
</head>   


<body>
    <h1> this is hbs index </h1>
        <h2> use this side to get weather</h2>
        <form> 
                <input placeholder="location">
                <button> search </button>
        </form>
        <p id="message-1"> </p>
        <P id="message-2"> </P>

        <script  src="/js/app.js"> </script> 
</body>

</html>
